.jumbotron{
	background-color: #F5F5F5;
	text-color: #FFFFFF;
	border:1px solid #680505;
	h2{
		font-weight: bold;
                color: #E80605;
                font-family: 'Lato', sans-serif;
	}
}
.navbar-default{

	.container-fluid{
	  	background-color: #D32323;
        .navbar-nav>li>a{
         color: #FFFFFF;
         font-size: 16px;
         font-weight: bold;
        }
        .navbar-brand{
        	color: black;
        	font-size: 30px;
        	font-weight: bold;
        	font-family: 'Gloria Hallelujah', cursive;
        	text-shadow: 0 0 5px #FFFFFF, 0 0 5px #FFFFFF;
        }
	}
}


.container-fluid{
	
	padding:10px 120px;
}
style_image {
 margin-left: auto;
    margin-right: auto;
    width: 6em
}